.dropdowncontainer {
  position: absolute;
  top: 4rem;
  right: 0px;
  background-color: var(--text-bright);
  color: var(--bg-light);
  padding: var(--padding-light);
  border-radius: var(--border-radius);
  animation: drop 0.7s;
  /* transform: scaleY(1) translateY(0); */
}

.innercontainer {
  border: 2px solid var(--text-light);
  padding: var(--padding-light);
  border-radius: var(--border-radius-light);
}

@keyframes drop {
  from {
    /* transform: scaleY(0) translateY(-50%); */
    max-height: 0;
  }
  to {
    /* transform: scaleY(1) translateY(0); */
    max-height: 700px;
  }
}
